@{
    ViewData["Title"] = "Carbon-Footprint";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            padding-top: 10px;
            padding: 0;
            width: 100%;
            margin: auto;
            min-width: 1000px;
            max-width: 2000px;
            position: relative;
            text-align: center;
            color: antiquewhite;
            font-size: 24px;
            text-decoration: double;
        }

        div.Calculations {
            border: 5px solid black;
            padding-top: 10px;
            padding: 0;
            width: 90%;
            margin: auto;
            min-width: 1000px;
            max-width: 2000px;
            position: relative;
            text-align: center;
            color: antiquewhite;
            font-size: 24px;
            text-decoration: double;
            background-color: black;
            margin-top:5px;
            height:500px;
        }

        .centered {
            padding: 0;
            width: 90%;
            margin: auto;
            min-width: 1000px;
            max-width: 2000px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        
    </style>
</head>
<body style="background-image:url(https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
    <button type="button" class="LearnMorebtn" style="color:darkgray;">Learn More!</button>
    <button type="button" class="Calculatebtn" style="color:darkgray;">Calculate!</button>
   

    <div class="container">



    </div>


</body>
</html>



