@{
    ViewData["Title"] = "Carbon-Footprint";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            position: relative;
            text-align: center;
            color: antiquewhite;
            font-size:24px;
            text-decoration:double;
            
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    </style>
</head>
<body style="background-color:lightgreen;">

    <div class="container">
        <img src="https://images.freeimages.com/images/large-previews/553/plitvice-lakes-1362681.jpg" alt="Environment"style="width:100%;opacity:.9;padding:10px;">
        <div class="centered" style="border:solid;">
            You Need Nature. Nature Needs You.<br />
            From volunteering with The Nature Conservancy to reducing your carbon footprint,
            there are so many ways you can get involved and do your part to support a world
            where people and nature thrive together <br />
            - The Nature Conservancy
        </div>
    </div>
    <div class="Calculations">
        <h1>Calculations</h1>
        <p>
            This is where the Calculations are going to be<br/>
            Specifically the usage of C#<br/>
        </p>
    </div>

</body>
</html>



