@{
    ViewData["Title"] = "Carbon-Footprint";
}
<body style="background-color:lightgreen;">
    <div>
        <img src="https://images.freeimages.com/images/small-previews/d3c/mountains-1362605.jpg"alt="Picture" />
    </div>

</body>



