@{
    ViewData["Title"] = "Carbon-Footprint";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            padding-top: 10px;
            padding: 0;
            width: 90%;
            margin: auto;
            min-width: 1000px;
            max-width: 2000px;
            position: relative;
            text-align: center;
            color: antiquewhite;
            font-size: 24px;
            text-decoration: double;
        }

        div.Calculations {
            border: 5px solid black;
            padding-top: 10px;
            padding: 0;
            width: 90%;
            margin: auto;
            min-width: 1000px;
            max-width: 2000px;
            position: relative;
            text-align: center;
            color: black;
            font-size: 24px;
            text-decoration: double;
            background-color: antiquewhite;
            margin-top:5px;
            height:1000px;
        }

        .centered {
            padding: 0;
            width: 90%;
            margin: auto;
            min-width: 1000px;
            max-width: 2000px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        
    </style>
</head>
<body style="background-color:lightgreen;">

    <div class="container">
        <img src="https://images.freeimages.com/images/large-previews/553/plitvice-lakes-1362681.jpg" alt="Environment"style="width:100%;opacity:.9;margin-top:5%;padding-top:10px;">
        <div class="centered" style="border:solid;">
            You Need Nature. Nature Needs You.<br />
            From volunteering with The Nature Conservancy to reducing your carbon footprint,<br/>
            there are so many ways you can get involved and do your part to support a world<br/>
            where people and nature thrive together <br />
            - The Nature Conservancy
        </div>
    </div>
    <div class="Calculations"style="width:100%;opacity:.9;">
        <h1>Calculations</h1>
        <p>
            This is where the Calculations are going to be<br/>
            Specifically the usage of C#<br/>
        </p>
    </div>

</body>
</html>



